* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li,
ol {
  list-style: none;
}

.list-container {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 10px auto;
  padding: 15px;
  gap: 15px;
  justify-items: center;

  a {
    width: 100%;
  }
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 3em;
}

@media screen and (max-width: 639px) {
  .mobile-toggleMenu {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 0.5em;
  }
}
